<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jQuery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="container" >
        @RenderBody()
    </div>
</body>
</html>
